/* HEADER */

#app{
    width: 100%;
}

html{
    height: 100%;
}

body{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-1{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.header-2{
    width: 50%;
    text-align: right;
    padding: 20px;
}

.role{
    margin-left: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.button-2{
    background-color: rgb(0, 88, 0);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: 0;
    padding: 10px;
    width: 30%;
    cursor: pointer;
    border: 1px solid rgb(0, 88, 0);
}

.button-2:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 88, 0);
    border: 1px solid rgb(0, 88, 0);
    transition: 0.3s;
}

/* BODY */

.hr{
    margin-top: -17px;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: row;
    flex: 1;
}

.div1{
    height: 100%;
    width: 50%;
    background-color: rgb(0, 85, 20);
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.div2{
    height: 100%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.works{
    padding: 10px 30px;
    background-color: rgb(0, 85, 20);
    color: white;
    border: 1px solid white;
    font-weight: 600;
}

.myWorks{
    padding: 10px 30px;
    background-color: white;
    color: rgb(0, 85, 20);
    border: 1px solid rgb(0, 85, 20);
    font-weight: 600;
}

.works:hover{
    border: 0;
    background-color: white;
    color: rgb(0, 85, 20);
    transition: 0.3s;
}

.myWorks:hover{
    border: 0;
    background-color: rgb(0, 85, 20);
    color: white;
    transition: 0.3s;
}

/* FOOTER */

footer{
    background-color: rgb(0, 85, 20);
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: 700;
    margin-top: 30px;
}

/* MARGIN */

@media  screen and (max-width: 1200px) {
    .div1{
        height: 700px;
    }

    .div2{
        height: 700px;
    }
}

@media  screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }

    .div1{
        width: 100%;
        height: 200px;
    }

    .div2{
        width: 100%;
        height: 200px;
    }

    .button-2{
        width: 50%;
    }
}

@media  screen and (max-width: 400px) {
    .button-2{
        width: 80%;
    }

    .header-2{
        width: 100%;
        padding: 0;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .header-1{
        display: none;
    }
}